@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ffffff;
  font-family: 'Pretendard Variable', sans-serif;
}

html,
body {
  cursor: url("/assets/cherry-cursor.png") 16 16, auto;
}

a,
img,
button,
[role="button"],
label,
select,
summary {
  cursor: url("/assets/cherry-cursor.png") 16 16, pointer;
}

a:hover,
button:hover,
[role="button"]:hover,
label:hover,
select:hover,
summary:hover {
  cursor: url("/assets/cherry-cursor.png") 16 16, pointer;
}

html.dark {
  background-color: #000000;
  color: #fff;
}

.recent-title {
  color: #fff;
  background-color: #4b5563;
}
html.dark .recent-title {
  color: #525252;
  background-color: #ffffff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .nav-link:hover,
.dark .nav-link.active {
  color: #3a3a3a;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.md-title {
  color: #000000;
}

.dark .md-title {
  color: #fff;
}

/* nav 스타일 */
.nav-link {
  position: relative;
  display: block;
  text-align: center;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 209, 231, 1);
  z-index: -1;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link.active::before {
  transform: scaleX(1);
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #000000;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }
}

.md-body .prose {
  --tw-prose-body: #18181b;
  --tw-prose-headings: #18181b;
  --tw-prose-links: #18181b;
  --tw-prose-bold: #18181b;
  --tw-prose-counters: #3f3f46;
  --tw-prose-bullets: #71717a;
  --tw-prose-hr: #d1d1d1;
  --tw-prose-quotes: #18181b;
  --tw-prose-quote-borders: #e4e4e7;
  --tw-prose-captions: #3f3f46;
  --tw-prose-code: #18181b;
  --tw-prose-pre-code: #f4f4f5;
  --tw-prose-pre-bg: #18181b;
  --tw-prose-th-borders: #d4d4d8;
  --tw-prose-td-borders: #e4e4e7;
}

html.dark .md-body .prose {
  --tw-prose-body: #f4f4f5;
  --tw-prose-headings: #ffffff;
  --tw-prose-links: #f4f4f5;
  --tw-prose-bold: #ffffff;
  --tw-prose-counters: #d1d1d1;
  --tw-prose-bullets: #52525b;
  --tw-prose-hr: #a1a1aa;
  --tw-prose-quotes: #f4f4f5;
  --tw-prose-quote-borders: #3f3f46;
  --tw-prose-captions: #a1a1aa;
  --tw-prose-code: #ffffff;
  --tw-prose-pre-code: #f4f4f5;
  --tw-prose-pre-bg: #18181b;
  --tw-prose-th-borders: #3f3f46;
  --tw-prose-td-borders: #27272a;
}
