---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import Socials from '../components/Socials';
import '../styles/index.css';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import PostItem from '@/components/PostItem';
import chaeyeonPng from '@/assets/chaeyeon.png';
import BlurImage from '@/components/BlurImage.astro';

const pageTitle = "";

const all = await getCollection("blog");
const posts: CollectionEntry<"blog">[] =
  all.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5);
---
<BaseLayout pageTitle={pageTitle}>
  <main class="flex-col">
    <div class=" w-full overflow-hidden">
      <div class="flex flex-row sm:flex-row items-center sm:items-start sm:gap-10">

        <BlurImage
          src={chaeyeonPng}
          width={235}
          height={345}
          alt="Chaeyeon"
          priority={true}
          format="png"
          sizes="(min-width: 768px) 235px, (min-width: 640px) 200px, 160px"
          class="hidden sm:block pointer-events-none select-none sm:static sm:z-0 sm:w-[200px] md:w-[235px] animate-move"
        />

        <div class="flex flex-col gap-2 items-start text-center sm:text-left">
          <Greeting client:load class="text-[28px] sm:text-3xl md:text-4xl font-bold text-nowrap" />
          <p class="font-[200] my-1 text-start sm:ml-5 leading-relaxed text-[13px] sm:text-[15px] d:text-lg">
            방문해주셔서 감사합니다!
            <br />
            이곳은 매일의 배움과 깨달음을 차곡차곡 기록하는 공간입니다.
            <br />
            Legacy 블로그는 <a href="https://yonyoni824.tistory.com/" class="text-red-300 font-medium hover:underline">여기</a>에서 확인하실 수 있습니다.
          </p>
          <div class="sm:mt-2"><Socials /></div>
        </div>

      </div>
    </div>


    <div class="mb-8 mt-12 flex items-end justify-between">
      <h3 class="recent-title tracking-wide pt-2 pb-1.5 px-4 sm:text-xl rounded-[6px] font-semibold text-white dark:text-gray-600 bg-gray-600 dark:bg-white">Recent posts</h3>
      <a href="/posts" class="font-mono py-2 px-4 transition-colors text-zinc-400 hover:text-zinc-600 dark:text-zinc-400 dark:hover:text-zinc-200">
      more posts..
      </a>
    </div>
    <ul class="flex flex-col gap-4">
      {posts.map((post) => (
        <PostItem post={post} />
      ))}
      {posts.length === 0 && (
        <p class="text-zinc-500">
          아직 작성된 포스트가 없어요.
        </p>
      )}
    </ul>
  </main>
</BaseLayout>