---
import ThemeIcon from './ThemeIcon.astro';
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.tsx';
---

<header>
  <nav class='flex gap-10 items-center justify-between'>
    <Hamburger />
    <img id="logo" src="/assets/Chae-ri.dev.png" alt="Chae-ri.dev" />
    <Navigation client:only="js" />
    <ThemeIcon client:load />
  </nav>
</header>
