---
import ThemeIcon from './ThemeIcon.astro';
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.tsx';
---

<header>
  <nav class='mt-2 mb-12 flex gap-10 items-center justify-between'>
    <Hamburger />
    <a href="/" class="cursor-pointer">
      <img
        id="logo"
        src="/assets/Chae-ri.dev.png"
        alt="Chae-ri.dev"
      />
    </a>
    <div class="flex gap-4">
      <Navigation client:only="js" />
      <ThemeIcon />
    </div>
  </nav>
</header>
