<button
  id="themeToggle"
  class="relative inline-flex items-center justify-center w-14 h-8 bg-[#FFD1E7] rounded-full transition-all duration-300 ease-in-out"
>
  <svg class="sun absolute left-2 w-5 h-5 opacity-100 z-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M12 17.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 1.5a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm12-7a.8.8 0 0 1-.8.8h-2.4a.8.8 0 0 1 0-1.6h2.4a.8.8 0 0 1 .8.8zM4 12a.8.8 0 0 1-.8.8H.8a.8.8 0 0 1 0-1.6h2.5a.8.8 0 0 1 .8.8zm16.5-8.5a.8.8 0 0 1 0 1l-1.8 1.8a.8.8 0 0 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM6.3 17.7a.8.8 0 0 1 0 1l-1.7 1.8a.8.8 0 1 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM12 0a.8.8 0 0 1 .8.8v2.5a.8.8 0 0 1-1.6 0V.8A.8.8 0 0 1 12 0zm0 20a.8.8 0 0 1 .8.8v2.4a.8.8 0 0 1-1.6 0v-2.4a.8.8 0 0 1 .8-.8zM3.5 3.5a.8.8 0 0 1 1 0l1.8 1.8a.8.8 0 1 1-1 1L3.5 4.6a.8.8 0 0 1 0-1zm14.2 14.2a.8.8 0 0 1 1 0l1.8 1.7a.8.8 0 0 1-1 1l-1.8-1.7a.8.8 0 0 1 0-1z"/>
  </svg>

<svg
    class="moon absolute top-2 right-1 w-5 h-5 opacity-0 z-10"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <svg
      width="19"
      height="19"
      viewBox="0 0 19 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.4042 11.5856C17.9637 13.1621 17.1181 14.5958 15.9516 15.744C14.785 16.8923 13.3382 17.7151 11.7549 18.1306C10.1717 18.5462 8.50726 18.5399 6.92718 18.1125C5.34711 17.6852 3.90646 16.8515 2.74856 15.6946C1.59066 14.5376 0.755859 13.0976 0.327193 11.5179C-0.101473 9.93818 -0.10906 8.27375 0.305186 6.69018C0.719432 5.10661 1.54107 3.65909 2.68838 2.49162C3.83568 1.32415 5.26867 0.477417 6.84478 0.0356455C6.96026 -0.00153753 7.0831 -0.00978465 7.20251 0.0116292C7.32192 0.033043 7.43424 0.0834619 7.5296 0.158454C7.62496 0.233446 7.70044 0.330716 7.7494 0.441712C7.79837 0.552708 7.81931 0.674032 7.8104 0.79502C7.81015 0.852416 7.80066 0.909396 7.78228 0.96377C7.41035 2.30622 7.40117 3.72331 7.75567 5.07047C8.11018 6.41764 8.8157 7.64665 9.80024 8.63214C10.7848 9.61764 12.0131 10.3243 13.3599 10.6802C14.7067 11.036 16.1238 11.0282 17.4667 10.6575L17.6729 10.62C17.836 10.6187 17.9952 10.67 18.1269 10.7663C18.2586 10.8625 18.3558 10.9986 18.4042 11.1544C18.4513 11.2943 18.4513 11.4458 18.4042 11.5856V11.5856Z"
        fill="#FFD1E7"
      />
    </svg>
  </svg>

  <span class="circle mr-5 w-[26px] h-[26px] bg-white rounded-full transition-all duration-300 ease-in-out"></span>
</button>

<style>
  html.dark #themeToggle .sun { opacity: 0; }
  html.dark #themeToggle .moon { opacity: 1; }
  html.dark #themeToggle { background-color: #ffffff; }
  html.dark #themeToggle .circle { transform: translateX(85%); background-color: #000; }
</style>


<script is:inline>
  document.addEventListener('click', (e) => {
    const btn = e.target.closest('#themeToggle');
    if (!btn) return;
    const root = document.documentElement;
    const next = !root.classList.contains('dark');
    root.classList.toggle('dark', next);
    try { localStorage.setItem('theme', next ? 'dark' : 'light'); } catch (_) {}
  });
</script>